<header class="header">
  <h1>Document Viewer</h1>
</header>
<div class="main-cont">
  <div class="actions">
    <div class="zoom">
      <button class="zoom-out" (click)="zoom_out()">-</button>
      <span>{{ zoom }}%</span>
      <button class="zoom-in" (click)="zoom_in()">+</button>
    </div>
    <div class="add-annotation">
      <button (click)="add_annotation()">
        <span class="material-symbols-outlined"> note </span>
      </button>
    </div>
    <div class="save">
      <button (click)="save_page()">
        <span class="material-symbols-outlined"> save </span>
      </button>
    </div>
  </div>
  <app-page-component
    dra
    [ngStyle]="{ zoom: zoom + '%' }"
    [page]="file[c_page_num - 1]"
  ></app-page-component>
  <app-annotation-component
    draggable="true"
    *ngFor="let annotation of annotations"
    (dragstart)="drag_start($event)"
    (dragend)="drag_stop($event, annotation.id)"
    [id]="annotation.id"
    [ngStyle]="{
      position: 'absolute',
      top: annotation.y + 'px',
      left: annotation.x + 'px'
    }"
    [annotation]="annotation"
    (delete_annotation_event)="delete_annotation($event)"
    (save_annotation_event)="save_annotation_edit($event)"
    (send_color_event)="update_annotation($event)"
    (send_opacity_event)="update_annotation($event)"
  >
  </app-annotation-component>
</div>
