.header {
  h1 {
    font-size: 24px;
  }
  padding: 10px 25px;
  background-color: #1a5f7a;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-cont {
  .actions {
    position: absolute;
    top: 100px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
    .zoom {
      display: flex;
      flex-direction: row;
      align-items: center;
      span {
        font-size: 18px;
        font-weight: 500;
        margin: 0px 5px;
        color: #002b5b;
      }
      button[class*="zoom-"] {
        box-shadow: 0px 0px 5px 3px rgba(26, 95, 122, 0.3);
        -webkit-box-shadow: 0px 0px 5px 3px rgba(26, 95, 122, 0.3);
        -moz-box-shadow: 0px 0px 5px 3px rgba(26, 95, 122, 0.3);
        cursor: pointer;
        border: none;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background: #57c5b6;
        color: #fff;
        font-size: 26px;
        font-weight: 500;
      }
    }
    .add-annotation,
    .save,
    .pagination {
      margin-top: 15px;
      button {
        box-shadow: 0px 0px 5px 3px rgba(26, 95, 122, 0.3);
        -webkit-box-shadow: 0px 0px 5px 3px rgba(26, 95, 122, 0.3);
        -moz-box-shadow: 0px 0px 5px 3px rgba(26, 95, 122, 0.3);
        cursor: pointer;
        border: none;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background: #57c5b6;
        color: #fff;
        font-size: 26px !important;
        font-weight: 500 !important;
      }
    }
    .pagination {
      display: flex;
      flex-direction: row;
      align-items: center;
      .page-count {
        text-align: center;
        font-weight: 500;
        color: #002b5b;
        margin: 0 5px;
      }
      button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
